<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AOM RETOLD BUILDER</title>
    <link rel="icon" href="https://static.wikia.nocookie.net/ageofempires/images/3/38/AoMR_Zeus_icon.png" type="image/png">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/styles.css" rel="stylesheet">
</head>
<body class="bg-dark-custom text-light-custom">
    <header class="bg-dark text-white py-3 fixed-top">
        <div class="container">
            <h1 class="text-center">Age of Mythology Retold Builder</h1>
            <nav class="nav justify-content-center">
                <a class="nav-link text-white" href="./index.html">Inicio</a>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Builds</a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">Griegos</a></li>
                        <li><a class="dropdown-item" href="/norse/nordicos.html">Nórdicos</a></li>
                        <li><a class="dropdown-item" href="#">Egipcios</a></li>
                        <li><a class="dropdown-item" href="#">Atlantes</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="/build.html">Todas las mitologías</a></li>
                    </ul>
                </li>
                <a class="nav-link text-white" href="https://www.youtube.com/@ageofempires/featured" target="_blank" rel="noopener noreferrer">Trailers</a>
                <a class="nav-link text-white" href="https://store.steampowered.com/app/1934680/Age_of_Mythology_Retold/" target="_blank" rel="noopener noreferrer">Descargar</a>
            </nav>
        </div>
    </header>
    <div style="margin-top: 120px;"></div>
    <section id="about-us" class="py-5 bg-black">
        <div class="container">
            <h2 class="text-center mb-5">Sobre Nosotros</h2>
            <p>Hola soy HawkslyTW, creador de contenido, realicé esta página con el fin de brindar builds o facilitar el aprendizaje de videos de youtube relacionados al videojuego
                Age of Mythology Retold. Tengo poca experiencia en el ámbito competitivo de los RTS, pero me gusta jugarlos, desde la guerra en Company of Heroes 3 hasta guerras de
                civilizaciones en Age of Empires 4. Actualmente, me dedicaré más tiempo a AOM RETOLD, debido a que me divierte y se juega diferente a lo que normalmente estoy acostumbrado. </p>
            <h3 class="text-center mb-5">Equipo de Desarrollo</h3>
            <div class="row text-center">
                <div class="col-md-4 mb-4">
                    <div class="circle mx-auto" style="width: 150px; height: 150px; background-color: #28a745; color: white; border-radius: 50%; overflow: hidden; display: flex; align-items: center; justify-content: center;">
                        <img src="/assets/dev_team/calidadjpg.jpg" alt="Programador" style="width: 100%; height: 100%; object-fit: cover;">
                    </div>                    
                    <h4 class="mt-3">Encargada del área de calidad</h4>
                </div>

                <div class="col-md-4 mb-4">
                    <div class="circle mx-auto" style="width: 150px; height: 150px; background-color: #28a745; color: white; border-radius: 50%; overflow: hidden; display: flex; align-items: center; justify-content: center;">
                        <img src="/assets/dev_team/programador.jpg" alt="Programador" style="width: 100%; height: 100%; object-fit: cover;">
                    </div>                    
                    <h4 class="mt-3">Programador</h4>
                    <p>HawkslyTW</p>
                </div>
                <div class="col-md-4 mb-4">
                    <div class="circle mx-auto" style="width: 150px; height: 150px; background-color: #28a745; color: white; border-radius: 50%; overflow: hidden; display: flex; align-items: center; justify-content: center;">
                        <img src="/assets/dev_team/atención.jpg" alt="Programador" style="width: 100%; height: 100%; object-fit: cover;">
                    </div>               
                    <h4 class="mt-3">Atención al cliente</h4>
                </div>
            </div>
    
            <div class="row text-center">
                <div class="mb-1">
                    <h4 class="mt-3">Preguntas Frecuentes</h4>
                    <p><b>¿Por qué hacer la página web?</b></p>
                    <p>La razón de esta página es la publicación y difusión de build orders o guías del juego.</p>
                    <p><b>¿Habrá una sección de crear nuestras builds y publicarlas?</b></p>
                    <p>Sí tengo planeado implementarlo, pero puede tomar algo de tiempo, el servicio de host no permite integración con una base de datos, por lo que tendría que hacerlo
                        manualmente. En todo caso, podrían mandarme la build y yo subirla, eso puede servir.
                    </p>
                </div>
            </div>
        </div>
    </section>
    

    <footer class="bg-dark text-white py-4">
        <div class="container">
            <div class="row mb-4">
                <div class="col-md-4 mb-3 mb-md-0">
                    <h5>Información</h5>
                    <p>Página web creada sin fines de lucro, con intención de promover los RTS y facilitar su aprendizaje.</p>
                    <b>
                        <a href="/views/sobre_nosotros.html" class="text-white text-decoration-none">
                            Sobre nosotros
                        </a>
                    </b>
                </div>
                <div class="col-md-4 mb-3 mb-md-0">
                    <h5>Contacto</h5>
                    <ul class="list-unstyled">
                        <a href="mailto:miguelguillen24mg@gmail.com" class="text-white text-decoration-none">
                            <b>Correo: </b>miguelguillen24mg@gmail.com
                        </a>
                    </ul>
                </div>
                <div class="col-md-4">
                    <h5>Derechos de Autor</h5>
                    <p>Toda la información es recopilada de sitios web, videos de YouTube, los derechos del juego, recursos como imágenes, videos y todo lo relacionado a 
                        Age of Mythology son propiedad de Microsoft.</p>
                </div>
            </div>
            
            <hr class="bg-white">
            <div class="d-flex justify-content-center mb-3">
                <a href="https://www.twitch.tv/hawkslytw" target="_blank" rel="noopener noreferrer">
                    <img src="https://cdn-icons-png.flaticon.com/512/733/733577.png " class="img-fluid" alt="Twitch" style="width: 40px; margin: 0 10px;">
                </a>
                <a href="https://x.com/HawkslyTW" target="_blank" rel="noopener noreferrer">
                    <img src="https://cdn-icons-png.flaticon.com/512/5969/5969020.png" class="img-fluid" alt="Twitter" style="width: 40px; margin: 0 10px;">
                </a>
                <a href="https://paypal.me/hawkslytw?country.x=PE&locale.x=es_XC" target="_blank" rel="noopener noreferrer">
                    <img src="https://cdn-icons-png.flaticon.com/512/732/732096.png" class="img-fluid" alt="Paypal" style="width: 40px; margin: 0 10px;">
                </a>
            </div>
            <p class="text-center mb-0">Creado por <strong>HawkslyTW</strong> &copy; 2024. Todos los derechos reservados.</p>
        </div>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
